@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  background: url('../src/assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* input {
  color: black;
} */

.hero-overlay {
  background: linear-gradient(to top, rgba(15, 17, 21, 0.9), transparent);
}

.search-box {
  backdrop-filter: blur(10px);
}

.petStayCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 7px 20px 20px;
  width: 21vw;
  border: 5px red;
}

.petStayImage {
  width: 30vw;
  height: 30vh;
  object-fit: contain;
  align-items: center;
}

/* Homepage and Featured list styling */

.section {
  margin-top: 3vh;
  padding: 0 5vh;
  margin-bottom: 3vh;
}

.title {
  font-size: 4vh;
  font-weight: 700;
  margin-bottom: 32px;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.title-2 {
  font-size: 3vh;
  font-weight: 700;
  margin-bottom: 32px;
  color: #fff;
}

.title-3 {
  font-size: 3vh;
  font-weight: 700;
  margin-bottom: 32px;
  color: #fff;
}

.section-host {
  margin-top: 3vh;
  padding: 0 5vh;
  margin-bottom: 3vh;
}

/* .custom-datepicker-container {
  z-index: 9999;
} */

/* Login and Sign up form */
.login-label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
}

.login-input {
  background-color: #3c4752;
  color: white;
  font: 200;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 2px;
  border-radius: 12px;
  margin-top: 1px;
  border: none;
  outline: none;
}

/* Location CSS */
.location-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card {
  color: white;
  background-color: #2a2f3a;
  border-radius: 16px;
  margin-bottom: 2vh;
  height: 18rem;
}
.location-image {
  height: 16rem;
  width: 32rem;
  border-radius: 16px 16px 0px 0px;
}

.location-card p {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.location-card:hover {
  transform: scale(1.05);
}

.why-image {
  border-radius: 16px;
  margin-bottom: 2vh;
  height: 18rem;
  width: 29rem;
}
.why-image:hover {
  transform: scale(1.05);
}

/* Detailpage CSS */
.petStay-details-page {
  color: white;
}

.petStay-hero img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.petStay-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.details-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.details-main {
  display: flex;
  flex-direction: column;
}

.petStay-title h1 {
  font-size: 32px;
  font-weight: 600;
}

.petStay-details-location {
  margin-top: 6px;
  color: #a0a3ad;
}

.rating {
  margin-top: 8px;
  font-size: 14px;
}

.petStay-host-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  padding: 16px;
  background: #1a1d24;
  border-radius: 16px;
}

.petStay-host-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.petStay-host {
  font-size: 12px;
  color: #a0a3ad;
}

.petStay-description {
  margin-top: 40px;
}

/* .petStay-price {
  margin-top: 40px;
  padding: 20px;
  background: #1a1d24;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.price span {
  font-size: 14px;
  color: #a0a3ad;
} */

/* Booking-box CSS */

.booking-box {
  background: #1a1d24;
  border-radius: 16px;
}

/* Bookings list CSS */

.bookings-container {
  display: grid;
  background-color: white;
  border-radius: 16px;
  grid-template-columns:
    160px /* image */
    2fr /* title */
    1fr /* id */
    1.5fr /* from */
    1.5fr /* till */
    1fr /* price */
    260px; /* actions */

  align-items: center;
  gap: 16px;

  padding: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  color: black;
}

.booking-image {
  width: 140px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
}

.booking-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
}

.booking-actions-div {
  display: flex;
  gap: 8px;
}
